<h1 class="uppercase text-xl md:text-2xl lg:text-5xl text-emerald-600 text-center mt-20 font-bold">soporte vital basico</h1>
<section class="grid grid-rows-2 grid-cols-1 md:grid-cols-2 md:grid-rows-1 min-h-[400px] text-lg font-medium">
  <div class="flex justify-center items-center">
    <p class="max-w-80 md:max-w-96">El <b>S</b>oporte <b>V</b>ital <b>B</b>ásico <b>(SVB)</b> es un conjunto de habilidades que se utilizan para mantener las funciones vitales básicas de una persona hasta que llegue la atención médica avanzada. Estas habilidades son cruciales para cualquier persona que pueda encontrarse en una situación de peligro de muerte, y especialmente para los guías turísticos que a menudo son responsables del bienestar de otros en lugares potencialmente remotos.</p>
  </div>
  <div class="flex justify-center items-center">
    <div class="w-11/12 md:w-5/6 h-11/12 md:h-5/6 ">
      <p>A continuación, se desglosan los componentes clave del SVB:</p>
      <ol>
        <li>
          <a href="BLS/#Evaluacion de la escena" class="relative py-1">
            <span class="li-link">
              Evaluación de la escena:
            </span>
          </a>
          <br>
          <ul class="font-normal indent-4">
            <li class="relative w-fit"><a href="BLS/#Evaluacion de la escena" class="li-link"> Seguridad</a></li>
            <li class="relative w-fit"><a href="BLS/#Concentimiento" class="li-link"> Concentimiento</a></li>
            <li class="relative w-fit"><a href="BLS/#Evaluación inicial" class="li-link"> Evaluación inicial</a></li>
            <li class="relative w-fit"><a href="BLS/#Pedir ayuda" class="li-link"> Pedir ayuda</a></li>
          </ul>
        </li>
        <li>
          <a href="BLS/#RCP" class=" relative py-1">
            <span class="li-link">
              Reanimación Cardiopulmonar (RCP): 
            </span>
          </a>
          <br>
          <ul class="font-normal indent-4">
            <li class="relative w-fit"><a href="BLS/#que es" class="li-link"> Que es?</a></li>
            <li class="relative w-fit"><a href="BLS/#compresiones toracicas" class="li-link"> Compresiones torácicas</a></li>
            <li class="relative w-fit"><a href="BLS/#respiraciones de rescate" class="li-link"> Respiraciones de rescate</a></li>
          </ul>

        </li>
        <li>
          <a href="BLS/#DEA" class="relative py-1">
            <span class="li-link">
              <b>D</b>esfibrilador <b>E</b>xterno <b>A</b>utomatico <b>(DEA)</b>
            </span>
          </a>
        </li>
        <li>
          <a href="BLS/#asfixia" class="relative py-1">
            <span class="li-link">
              Asfixia: 
            </span>
          </a>
          <br>
          <ul class="font-normal indent-4">
            <li class="relative w-fit"><a href="BLS/#como reconocerla" class="li-link"> Como reconocerla</a></li>
            <li class="relative w-fit"><a href="BLS/#HA" class="li-link"> Maniobra de heimlish Adultos</a></li>
            <li class="relative w-fit"><a href="BLS/#HB" class="li-link"> Maniobra de heimlish Bebes</a></li>
            <li class="relative w-fit"><a href="BLS/#objetos extraños" class="li-link"> Objetos extraños</a></li>
          </ul>
        </li>

      </ol>
    </div>
  </div>
</section>
<div class="block w-4/6 h-1 mx-auto -mt-0.5 rounded-full bg-gradient-to-l from-emerald-400 to-emerald-200 border border-gray-400/5"></div>
<section class="bg-emerald-200/30 px-2 md:px-10 py-10" id="Evaluacion de la escena">
  <h2 class="text-3xl text-center uppercase font-bold text-emerald-600 mb-5">Evaluación de la escena</h2>
  <div id="Evaluacion de la escena">
    <h2 class="text-2xl capitalize text-center mb-3 font-bold">Seguridad</h2>
    <p class="block mx-auto w-11/12 md:w-4/6 lg:w-3/6 mb-3 text-lg">
      Es su obligación velar por su seguridad, la de sus compañeros, paciente, testigos y curiosos. <br>
      Antes de acercarse al paciente debe evaluar la escena en búsqueda de amenazas tales como sustancias químicas, cables eléctricos, vehículos en movimiento, líquidos inflamables, personas violentas, entre otros.  <br>
      Al llegar a lugar del incidente uno debe tener un completo conocimiento de la situación. Se debe tener una visión integral y tener en cuenta que cada incidente tiene sus propias características
    </p>
    <div class="w-5/6 mx-auto">
      <div class="flex justify-center items-center mb-5">
        <img src="../../../assets/heart.png" alt="">
        <div class="flex justify-center items-center w-full">
          <div class="w-5/6 mx-auto">
            Al llegar a la escena, es fundamental realizar un barrido visual para identificar y evaluar los riesgos potenciales. Este procedimiento, que toma aproximadamente 15 segundos, te permitirá tomar decisiones informadas para asegurar la seguridad de todos.
              <br><br>
              <b>
                Pasos del barrido visual:
              </b>
              <br>
              <b>Arriba:</b> Busca objetos que puedan caer, como ramas o estructuras inestables.<br>
              <b>Lados:</b> Observa si hay vehículos, personas u objetos que puedan generar una colisión.<br>
              <b>Abajo:</b> Asegúrate de que el suelo sea firme y no haya obstáculos en el camino.<br>
              <b>Atrás:</b> Presta atención a vehículos, personas u objetos que puedan generar una colisión.<br>
              <br>
              <b>
                Ejemplo:
              </b>
              <br>
              Al llegar a la escena de un accidente automovilístico, realizas un barrido visual. Observas que no hay objetos que puedan caer, pero hay un vehículo parado en el carril contrario. El suelo es firme y no hay obstáculos en el camino. Atrás, ves que se aproxima otro vehículo.
              <br>
              Con base en esta información, determinas que el estado actual de la situación es peligroso. Si no se interviene, el vehículo que se aproxima podría chocar con el vehículo parado. Para controlar la situación, necesitas colocar conos de seguridad y desviar el tráfico.
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 w-4/6 mx-auto mb-3">
        <div> 
          <b>
            Preguntas clave:
          </b>         
          <br>
          ¿Cuál es el estado actual de la situación?<br>
          ¿Para dónde va la situación si no se interviene?<br>
          ¿Qué recursos y operaciones se necesitan para controlarla?<br>
          ¿Cuántos pacientes hay involucrados?
        </div>
        <div>
          <b>
            Recomendaciones:
          </b>
          <br>
          Realiza el barrido visual de forma sistemática, sin prisas.
          Presta atención a los detalles y no ignores ningún riesgo potencial.
          Comunica los riesgos identificados a los demás miembros del equipo.
        </div>
      </div>
      <div class="w-3/6 mx-auto">
        <b>
          Conclusión:
        </b>
        <br>
        El barrido visual es una herramienta fundamental para asegurar la seguridad en cualquier escena. Al realizarlo de forma sistemática y atenta, puedes identificar y evaluar los riesgos potenciales, tomar decisiones informadas y proteger a todos los involucrados.
      </div>
    </div>
  </div>
  <div class="block w-3/6 h-1 mx-auto my-20 rounded-full bg-gradient-to-r from-emerald-200 to-transparent border border-gray-400/5"></div>
  <div id="Concentimiento">
    <h2 class="text-2xl capitalize text-center mb-3 font-bold">Consentimiento del paciente</h2>
    <p class="block mx-auto w-11/12 md:w-5/6 lg:w-3/6 mb-3">
      Al llegar a una escena, antes de tener contacto con el paciente no olvide lo siguiente: <br>
        Mencione su nombre <br>
        Solicite el consentimiento para atender a la victima <br>
        Indique que es una persona entrenada <br>
    </p>
    <div class="w-5/6 mx-auto grid grid-rows-2 grid-cols-1 md:grid-cols-3 md:grid-rows-1 min-h-[400px] text-normal font-medium">
      <div class="flex flex-col col-span-2">
        <h3 class="text-xl font-bold">
          Tipos de concentimiento
        </h3>
        <p class="w-11/12">
          <br>
          <b>
            Consentimiento Explícito:
          </b>
           Un paciente adulto consciente y con la mente clara, puede darle autorización para brindarle cuidados, esto se hace de manera oral. Debe decirle al paciente:
          <br> - Su nivel de entrenamiento.<br> - Porqué piensa que el cuidado es necesario.<br> - Qué es lo que va hacer.<br> - Si existe algún riesgo en el cuidado que usted ofrece o un riesgo relacionado si rehúsa del cuidado. 
          
          <br><br>
          <b>
            Consentimiento Implícito:
          </b>
           En situaciones de emergencia, cuando un paciente está inconsciente, confundido o tan severamente lesionado que no puede tomar decisiones claras. <br>Esto es, que la ley asume que si el paciente estuviera consciente hubiera deseado que se le atendiera.<br><br>
          <b>
            CONFIDENCIALIDAD
          </b>
            Lo tratado con sus pacientes es secreto profesional y no debe comentarlas a sus amigos, familia u otros miembros del público acerca de los detalles de su cuidado. No se debe decir el nombre de las personas que atendió. Si habla del accidente no puede dar detalles específicos acerca de lo que un paciente dijo, de cómo se comportó o cualquier descripción de su apariencia personal. PRECAUCIONES EFECTOS LEGALES
  
        </p>
      </div>
      <div class="flex justify-center items-center">
        <img src="../../../assets/agreement.png" alt="">
      </div>
    </div>
  </div>
  <div class="block w-3/6 h-1 mx-auto my-20 rounded-full bg-gradient-to-l from-emerald-200 to-transparent border border-gray-400/5"></div>
  <div id="Evaluación inicial" class="mb-20">
    <h2 class="text-2xl capitalize text-center mb-3 font-bold">Evaluación inicial</h2>
    <p class="block mx-auto w-11/12 md:w-5/6 lg:w-3/6 mb-3">Tiene como objetivo conocer los problemas que amenazan la vida del paciente a corto plazo como:
      No tener pulso
      No tener respiración 
      Tener una hemorragia severa</p>
      <div class="flex my-12 justify-between items-center gap-5 w-[650px] mx-auto gallery-container">
        <div class="gallery__item relative w-[210px] h-[200px] ">
          <div class="flip-card-inner relative w-100 h-100 text-center transition-{transform 0.7s ease-in-out}">
              <div class="flip_card_front">
                  <img src="../../../assets/9.png" alt="Presión Arterial" class="gallery__img w-100 h-100 object-cover" title="Presión Arterial" >
              </div>
              <div class="flip_card_back">
                  <div class="header">
                      <div class="back-card">
                          <h2 class="historycard">Presión Arterial</h2>
                          <!-- <h3 class="!text-sm !text-center"><strong>Eiffel Tower</strong></h3> -->
                          <p class="!text-xs">Esto mide la fuerza de la sangre contra las paredes de las arterias mientras el corazón bombea sangre por todo el cuerpo. La presión arterial se registra como dos números: presión sistólica (el número superior), que representa la presión cuando el corazón late, y presión diastólica (el número inferior), que representa la presión cuando el corazón está en reposo entre latidos. La presión arterial normal para adultos generalmente se considera que es alrededor de 120/80 mmHg.</p>

                      </div>
                  </div>
                  
              </div>
          </div>
        </div>
        <div class="gallery__item relative w-[210px] h-[200px] ">
          <div class="flip-card-inner relative w-100 h-100 text-center transition-{transform 0.7s ease-in-out}">
              <div class="flip_card_front">
                  <img src="../../../assets/8.png" alt="Frecuencia Respiratoria" class="gallery__img w-100 h-100 object-cover" title="Frecuencia Respiratoria" >
              </div>
              <div class="flip_card_back">
                  <div class="header">
                      <div class="back-card">
                          <h2 class="historycard">Frecuencia Respiratoria</h2>
                          <!-- <h3 class="!text-sm !text-center"><strong>Eiffel Tower</strong></h3> -->
                          <p class="!text-xs">Esto se refiere al número de respiraciones que se toman por minuto. La frecuencia respiratoria normal para adultos en reposo generalmente oscila entre 12 y 20 respiraciones por minuto.</p>

                          <h2 class="historycard">Saturación de oxígeno (SpO2)</h2>
                          <p class="!text-xs">Esto mide el porcentaje de oxígeno unido a la hemoglobina en la sangre. Los niveles de saturación de oxígeno indican qué tan bien se transporta el oxígeno desde los pulmones hacia los tejidos del cuerpo. Los niveles normales de saturación de oxígeno oscilan entre el 95% y el 100%.</p>
                      </div>
                  </div>
                  
              </div>
          </div>
        </div>
        <div class="gallery__item relative w-[210px] h-[200px] ">
          <div class="flip-card-inner relative w-100 h-100 text-center transition-{transform 0.7s ease-in-out}">
              <div class="flip_card_front">
                  <img src="../../../assets/7.png" alt="Frecuencia cardíaca (Pulso)" class="gallery__img w-100 h-100 object-cover" title="Frecuencia cardíaca (Pulso)" >
              </div>
              <div class="flip_card_back">
                  <div class="header">
                      <div class="back-card">
                          <h2 class="historycard">Frecuencia cardíaca (Pulso)</h2>
                          <!-- <h3 class="!text-sm !text-center"><strong>Eiffel Tower</strong></h3> -->
                          <p class="!text-xs">Este es el número de veces que late el corazón por minuto (bpm). La frecuencia cardíaca normal en reposo para adultos oscila entre 60 y 100 latidos por minuto, aunque puede variar dependiendo de factores como la edad, el nivel de condición física y la salud en general. </p>

                      </div>
                  </div>
                  
              </div>
          </div>
        </div>
        
      </div>
      
    <p class="md:w-4/6 mx-auto block">Utiliza el método <b>ABCDE</b> para evaluar sistemáticamente la condición del paciente.
      <br>
      <b>
        A - Vía aérea:
      </b>
      Comprueba si la vía aérea está abierta y sin obstrucciones. Busca signos de dificultad respiratoria como jadeo, retracciones del pecho o respiración ruidosa.
      Si la vía aérea está bloqueada, realiza maniobras como elevación de mentón con inclinación de cabeza o empuje mandibular (si estás capacitado).
      <br>
      <b>
        B - Respiración:
      </b>
       Evalúa la frecuencia respiratoria, la profundidad y el esfuerzo del paciente. Busca patrones respiratorios anormales como bradipnea (respiración lenta) o taquipnea (respiración rápida).
      Si el paciente no respira con normalidad, inicia RCP (Reanimación Cardiopulmonar).
      <br>
      <b>
        C - Circulación:
      </b>
       Busca signos de circulación palpando el pulso (carotideo o femoral). Evalúa la frecuencia, el ritmo y la fuerza del pulso.
      Si no hay pulso, inicia RCP.
      <br>
      <b>
        D - Discapacidad:
      </b>
       Evalúa el nivel de conciencia del paciente utilizando la escala AVDI (Alerta, Verbal, Dolor, Sin respuesta). Evalúa brevemente su estado neurológico haciéndole preguntas simples y verificando la respuesta pupilar.
      <br>
      <b>
        E - Exposición:
      </b>
       Desviste brevemente al paciente para identificar cualquier lesión o sangrado.</p>
  </div>
  <div class="block w-3/6 h-1 mx-auto my-20 rounded-full bg-gradient-to-r from-emerald-200 to-transparent border border-gray-400/5"></div>
  <div id="Pedir ayuda">
    <h2 class="text-2xl capitalize text-center mb-1 font-bold">Pedir ayuda</h2>
    <div class="grid grid-rows-2 grid-cols-1 md:grid-cols-2 md:grid-rows-1 min-h-[300px] w-4/6 mx-auto text-normal font-medium">
      <div class="flex justify-center items-center">
        <img class="w-5/6" src="../../../assets/ambulance.png" alt="">
      </div>
      <div class="flex justify-center items-center">
        <div>
          <p>
            <b>Datos que debemos reportar al pedir ayuda</b>
          </p>
          <ul>
            <li>
              Identificación de quien reporta
            </li>
            <li>
              Dirección y referencias 
            </li>
            <li>
              Tipo de incidente
            </li>
            <li>
              Condiciones ambientales
            </li>
            <li>
              Problemas presentes
            </li>
            <li>
              Numero de Victimas
            </li>
            <li>
              Necesidad de recursos
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="block w-4/6 h-1 mx-auto -mt-0.5 rounded-full bg-gradient-to-l from-emerald-400 to-emerald-200 border border-gray-400/5"></div>
<section class="px-2 md:px-10 py-10" id="RCP">
  <h2 class="text-3xl text-center uppercase font-bold text-emerald-600 mb-5">Reanimación cardio pulmonar (RCP)</h2>
  <div>
    <p class=" w-4/6 block mx-auto">
      Ayuda a restablecer el flujo sanguíneo y el suministro de oxígeno a los órganos cuando el corazón deja de latir
      La RCP en el contexto de primeros auxilios típicamente se refiere a "Reanimación Cardiopulmonar" o simplemente "RCP". Es una técnica de salvamento utilizada en emergencias cuando la respiración o el latido cardíaco de alguien se ha detenido.
<br>
      El procedimiento generalmente implica una combinación de compresiones torácicas para mantener la circulación sanguínea y respiraciones de rescate para proporcionar oxígeno a los pulmones. Es crucial realizar la RCP de manera rápida y correcta para aumentar las posibilidades de sobrevivir hasta que llegue la ayuda médica.
<br>
      Los pasos exactos para la RCP pueden variar ligeramente según las pautas seguidas en tu región, pero generalmente incluyen lo siguiente:

    </p>
  </div>
  <ul class="flex w-5/6 mx-auto //bg-emerald-700/40 justify-between mt-10 mb-6">
    <li (click)="CRP(1)" class="cursor-pointer hover:bg-emerald-400/10 px-5 py-3 border-l hover:border-l-emerald-400/20 border-b border-transparent hover:border-emerald-500/50"><b>1.Abrir las vías respiratorias</b> </li>
    <li (click)="CRP(2)" class="cursor-pointer hover:bg-emerald-400/10 px-5 py-3 border-l hover:border-l-emerald-400/20 border-b border-transparent hover:border-emerald-500/50"><b>2.Verificar la respiración</b> </li>
    <li (click)="CRP(3)" class="cursor-pointer hover:bg-emerald-400/10 px-5 py-3 border-l hover:border-l-emerald-400/20 border-b border-transparent hover:border-emerald-500/50"><b>3.Realizar compresiones torácicas</b></li>
    <li (click)="CRP(4)" class="cursor-pointer hover:bg-emerald-400/10 px-5 py-3 border-l hover:border-l-emerald-400/20 border-b border-transparent hover:border-emerald-500/50"><b>4.Dar respiraciones de rescate</b> </li>          
  </ul>
  <div class="w-11/12 mx-auto justify-center items-center grid grid-cols-1 md:grid-cols-2 md:grid-rows-1 mb-3">
    <div class="w-5/6 mx-auto /col-span-2">
      <div class="" *ngIf="currentCPR == 0">
        <h2 class="font-bold">Elevación de la Mandíbula (EM):</h2>
        Esta maniobra implica levantar suavemente la mandíbula de una persona hacia arriba. 
        Se realiza colocando los dedos debajo del mentón y levantando la mandíbula hacia adelante y hacia arriba.
        La elevación de la mandíbula ayuda a abrir las vías respiratorias al inclinar la cabeza hacia atrás y extender el cuello, lo que facilita la entrada de aire en los pulmones.
        <br><br>
        <h2 class="font-bold">Extensión de la Cabeza con Elevación de la Mandíbula (EXELM):</h2>
        Esta maniobra implica no solo levantar la mandíbula como en la EM, sino también extender la cabeza hacia atrás. 
        Se realiza colocando una mano debajo del mentón para levantar la mandíbula y la otra mano en la parte posterior de la cabeza para extenderla hacia atrás. Esto ayuda a abrir completamente las vías respiratorias y garantizar que el flujo de aire no se vea obstaculizado.
      </div>
      <div class="" *ngIf="currentCPR == 1">
       
        La técnica "<b class="font-bold">V</b>er, <b class="font-bold">O</b>ír, <b class="font-bold">S</b>entir" <b class="font-bold">(VOS)</b> se utiliza comúnmente en primeros auxilios como una forma de evaluar la respiración de una persona en situaciones de emergencia. 
        <br>
        Aquí te explico cómo se aplica esta técnica:
        <br>
        <b class="font-bold">Ver:</b> Inclina tu cabeza hacia la cabeza de la persona y observa si su pecho se eleva y desciende de manera regular. Esto indica que están respirando.
        <br>
        <b class="font-bold">Oír:</b> Acerca tu oído a la boca y nariz de la persona para escuchar los sonidos de la respiración. Presta atención a cualquier sonido de respiración normal, como el flujo de aire entrando y saliendo de los pulmones. Si no hay sonidos de respiración, esto podría indicar una obstrucción de las vías respiratorias o ausencia de respiración.
        <br>
        <b class="font-bold">Sentir:</b> Coloca tu mejilla cerca de la boca y nariz de la persona para sentir si hay movimiento de aire. Debes poder sentir el aire exhalado si la persona está respirando normalmente.
        
      </div>
      <div class="" *ngIf="currentCPR == 2">
        <b>Posición:</b> Coloca a la persona en el suelo sobre una superficie firme y plana.
        <br>
        <b>Localización de las manos:</b> Coloca el talón de una mano en el centro del pecho de la persona, típicamente entre los pezones. Coloca la otra mano encima de la primera, entrelazando los dedos.
        <br>
        <b>Postura adecuada:</b> Asegúrate de estar directamente sobre la persona, con los brazos rectos y los hombros alineados sobre las manos.
        <br>
        <b>Profundidad de las compresiones:</b> Presiona hacia abajo con las manos, comprimiendo el pecho al menos 2 pulgadas (5 centímetros) en adultos. Esto ayuda a asegurar que el corazón se comprima lo suficiente para bombear sangre de manera efectiva.
        <br>
        <b>Ritmo de compresión:</b> Realiza las compresiones a un ritmo de al menos 100-120 compresiones por minuto. Esto se puede recordar al ritmo de la canción "Stayin' Alive" de Bee Gees.
        <br>
        <b>Permitir la recuperación completa:</b> Permite que el pecho se eleve completamente entre cada compresión, lo que ayuda a facilitar el flujo sanguíneo de regreso al corazón.
      </div>
      <div class="" *ngIf="currentCPR == 3">
        <b>Preparación:</b>
         Antes de administrar las respiraciones de rescate, asegúrate de que la vía respiratoria de la persona esté despejada. Si hay objetos extraños en la boca o la garganta, retíralos suavemente si es posible.
        <br>
        <b>Posición de la cabeza:</b>
         Inclina la cabeza hacia atrás con una mano en la frente y dos dedos debajo del mentón para abrir las vías respiratorias.
        <br>
        <b>Sellado de la boca:</b> Coloca tu boca sobre la boca de la persona, asegurando un sello hermético. Si lo prefieres, puedes utilizar una barrera de protección como un protector facial o una mascarilla de bolsillo para RCP.
        <br>
        <b>Insuflación del aire:</b> Sopla suavemente en la boca de la persona para inflar sus pulmones. Observa el pecho para asegurarte de que se eleve durante la insuflación. Cada respiración de rescate debe durar aproximadamente 1 segundo y deberías ver el pecho elevarse claramente.
        <br>
        <b>Permitir la exhalación:</b> Permite que el aire salga completamente de los pulmones antes de administrar la siguiente respiración de rescate. Esto se puede hacer retirando la boca y observando el pecho caer.
        <br>
        <b>Número de respiraciones:</b> Después de cada serie de 30 compresiones torácicas, administra dos respiraciones de rescate. Continúa con este ciclo de compresiones y respiraciones hasta que la persona muestre signos de vida o llegue la ayuda médica.
      </div>
    </div>
    <!--Slider-->
    <div class="relative overflow-hidden">
      <div class="multi-slider-container flex items-center justify-between overflow-hidden bg-emerald-500/20 border border-emerald-500/5 shadow-md shadow-emerald-500/50 hover:shadow-emerald-500/80  max-w-[380px] h-[420px] mx-auto relative">
        <div class="slider-track flex">
          <div *ngFor="let video of displayCPR; let i = index" class="slider-item !w-[380px] relative">
            <h3 class="bg-emerald-500/20 text-white text-xl py-3 px-2 uppercase font-bold text-center">{{ video.name }}</h3>
            <img src="{{ video.url! }}" class="//!h-[380px] bg-black !w-[380px] rounded" alt="{{ video.name }}">
          </div>
        </div>  
        <button (click)="prevCRP()" class="px-3 py-7 opacity-20 hover:opacity-50 bg-zinc-400 hover:shadow-md hover:shadow-white/80 rounded-md text-3xl font-black border border-transparent hover:border-zinc-50 text-white absolute z-30 left-3 top-[45%]"><fa-icon [icon]="faAngleLeft"></fa-icon></button>
        <button (click)="nextCRP()" class="px-3 py-7 opacity-20 hover:opacity-50 bg-zinc-400 hover:shadow-md hover:shadow-white/80 rounded-md text-3xl font-black border border-transparent hover:border-zinc-50 text-white absolute z-30 right-3 top-[45%]"><fa-icon [icon]="faAngleRight"></fa-icon></button>
      </div>
    </div>
  </div>
  <div class="mx-auto w-5/6">
    Continuar con la RCP: Sigue repitiendo ciclos de compresiones y respiraciones hasta que llegue la ayuda o la persona muestre signos de vida.
  </div>
</section>
<div class="block w-4/6 h-1 mx-auto -mt-0.5 rounded-full bg-gradient-to-l from-emerald-400 to-emerald-200 border border-gray-400/5"></div>
<section  class="bg-emerald-200/30 px-2 md:px-10 py-10" id="DEA">
  <h2 class="text-3xl text-center uppercase font-bold text-emerald-600 mb-5">Desfibrilador Externo Automatico (DEA)</h2>
  <p class="text-medium w-3/6 block mx-auto mb-10">
    <b>¿Qué es un Desfibrilador Externo Automático (DEA)?</b><br>

    Un <b>D</b>esfibrilador <b>E</b>xterno <b>A</b>utomático <b>(DEA)</b> es un dispositivo electrónico portátil que puede analizar el ritmo cardíaco de una persona en paro cardíaco repentino y administrar una descarga eléctrica, si es necesario, para ayudar a restablecer un ritmo cardíaco normal.
    <br><br>
    <b>
      ¿Qué hace un DEA?
    </b><br>
    
    Analiza el ritmo cardíaco para identificar fibrilación ventricular (FV) o taquicardia ventricular sin pulso (TVSP), que son ritmos cardíacos anormales que pueden provocar un paro cardíaco repentino.
    Solo administra una descarga eléctrica (desfibrilación) si detecta un ritmo susceptible de recibir una descarga.
    Las instrucciones de voz guían al usuario a través del proceso de uso del DEA.
    <br><br>
    <b>
      ¿Por qué es importante un DEA?
    </b><br>
    El paro cardíaco repentino es una causa principal de muerte, y la probabilidad de supervivencia disminuye significativamente con cada minuto que pasa sin desfibrilación.
    Los DEA están diseñados para ser fáciles de usar por personas sin formación médica.
    Cuanto antes se use un DEA en una persona en paro cardíaco, mayores serán sus posibilidades de sobrevivir.
    <br><br>
    <b>
      ¿Cómo usar un DEA?
    </b><br>
    
    Enciende el DEA. La mayoría de los DEA se activan automáticamente al abrirse.
    Sigue las instrucciones de voz. El DEA te guiará paso a paso a través del proceso.
    Aplica los electrodos del DEA sobre el pecho desnudo de la persona según las instrucciones y las imágenes de los electrodos.
    Asegúrate de que nadie esté tocando a la persona mientras el DEA analiza el ritmo cardíaco.
    El DEA analizará el ritmo cardíaco y te informará si se necesita una descarga. Si se necesita una descarga, el DEA te indicará que te alejes y luego la administrará automáticamente (DEA automático) o te pedirá que pulses un botón para administrar la descarga (DEA semiautomático).
    Continúa con la RCP según las instrucciones del DEA hasta que llegue la ayuda.
    <br><br>
    <b>
      ¿Dónde encontrar DEAs?
    </b><br>
    
    Se pueden encontrar DEA en muchos lugares públicos, como aeropuertos, centros comerciales, escuelas, lugares de trabajo e instalaciones deportivas.
    Cosas para recordar:
    <br>
    Los DEA son seguros y fáciles de usar.
    Si te encuentras con alguien que sufre un paro cardíaco repentino, llama a los servicios de emergencia de inmediato y luego usa el DEA más cercano si está disponible.
    Incluso si no estás capacitado en RCP, puedes usar un DEA y potencialmente salvar una vida.
    <br><br>
    <b>
      Consideraciones adicionales:
    </b><br>
    
    Algunos DEA están diseñados para usarse en adultos y niños, mientras que otros tienen electrodos separados para niños.
    Es importante familiarizarse con el DEA específico que puedas encontrar.
    Busca cursos de capacitación sobre el uso del DEA ofrecidos por organizaciones como la Cruz Roja Americana o la Asociación Americana del Corazón.
  </p>
  <h3 class="uppercase text-2xl text-center text-bold mb-6">Como se ve un DEA</h3>
  <div class="flex justify-between items-center gap-5 w-[650px] mx-auto gallery-container">
    <div class="gallery__item relative w-[200px] h-[200px] ">
      <div class="flip-card-inner relative w-100 h-100 text-center transition-{transform 0.7s ease-in-out}">
          <div class="flip_card_front">
              <img src="../../../assets/AED_3 life support.png" alt="Cardiac Science Powerheart G5 semi-automatic" class="gallery__img w-100 h-100 object-cover" title="Cardiac Science Powerheart G5 semi-automatic" >
              <h3 class="gallery__title absolute min-h-12 !left-0 !bottom-0 w-100 !text-sm mx-auto p-1 font-bold border-black text-black bg-emerald-100">Cardiac Science Powerheart G5 semi-automatic</h3>
          </div>
          <div class="flip_card_back hidden">
              <div class="header">
                  <div class="back-card">
                      <h2 class="historycard">Around The World</h2>
                      <h3 class="!text-sm !text-center"><strong>Eiffel Tower</strong></h3>
                      <p class="!text-xs">Every evening, the Eiffel Tower is adorned with its golden covering and sparkles for 5 minutes every hour on the hour, while its beacon shines over Paris</p>
                      <a href="BLS/#" alt="" class="historycard">Paris</a>                          
                  </div>
              </div>
              <div class="footer">
                  <div class="autor">
                      <a href="https://felipe-rincon.xyz">
                          <img src="" alt="">
                          <span class="historycard"></span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="gallery__item relative w-[200px] h-[200px] ">
      <div class="flip-card-inner relative w-100 h-100 text-center transition-{transform 0.7s ease-in-out}">
          <div class="flip_card_front">
              <img src="../../../assets/AED_1 life support.png" alt="Lifeline AED" class="gallery__img w-100 h-100 object-cover" title="Lifeline AED" >
              <h3 class="gallery__title absolute min-h-12 !left-0 !bottom-0 w-100 !text-sm mx-auto p-1 font-bold border-black text-black bg-emerald-100">Lifeline AED</h3>
          </div>
          <div class="flip_card_back hidden">
              <div class="header">
                  <div class="back-card">
                      <h2 class="historycard">Around The World</h2>
                      <h3 class="!text-sm !text-center"><strong>Eiffel Tower</strong></h3>
                      <p class="!text-xs">Every evening, the Eiffel Tower is adorned with its golden covering and sparkles for 5 minutes every hour on the hour, while its beacon shines over Paris</p>
                      <a href="BLS/#" alt="" class="historycard">Paris</a>                          
                  </div>
              </div>
              <div class="footer">
                  <div class="autor">
                      <a href="https://felipe-rincon.xyz">
                          <img src="" alt="">
                          <span class="historycard"></span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="gallery__item relative w-[200px] h-[200px] ">
      <div class="flip-card-inner relative w-100 h-100 text-center transition-{transform 0.7s ease-in-out}">
          <div class="flip_card_front">
              <img src="../../../assets/AED_2 life support.png" alt="CardiAid" class="gallery__img w-100 h-100 object-cover" title="CardiAid" >
              <h3 class="gallery__title absolute min-h-12 !left-0 !bottom-0 w-100 !text-sm mx-auto p-1 font-bold border-black text-black bg-emerald-100">CardiAid</h3>
          </div>
          <div class="flip_card_back hidden">
              <div class="header">
                  <div class="back-card">
                      <h2 class="historycard">Around The World</h2>
                      <h3 class="!text-sm !text-center"><strong>Eiffel Tower</strong></h3>
                      <p class="!text-xs">Every evening, the Eiffel Tower is adorned with its golden covering and sparkles for 5 minutes every hour on the hour, while its beacon shines over Paris</p>
                      <a href="BLS/#" alt="" class="historycard">Paris</a>                          
                  </div>
              </div>
              <div class="footer">
                  <div class="autor">
                      <a href="https://felipe-rincon.xyz">
                          <img src="" alt="">
                          <span class="historycard"></span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
<div class="block w-4/6 h-1 mx-auto -mt-0.5 rounded-full bg-gradient-to-l from-emerald-400 to-emerald-200 border border-gray-400/5"></div>
<section class="px-2 md:px-10 py-10" id="asfixia">
  <h2 class="text-3xl text-center uppercase font-bold text-emerald-600 mb-5">Asfixia</h2>
  <div class="flex w-4/6 mx-auto justify-between h-[455px]">
    <div class="bg-emerald-200 hover:py-3  border border-emerald-400/50 shadow-md rounded-md h-[410px] //hover:h-[450px] //hover:w-[270px] w-[260px] group">
      <div class="h-72 group-hover:hidden w-full bg-emerald-50 relative rounded-t-md">
        <img class="w-72 mx-auto" src="../../../assets/asfixia sign.png" alt="">
      </div>
      <div>
        <h3 class="text-center uppercase font-semibold mt-2 mb-1">Signo Universal de la asfixia</h3>
        <p class="w-11/12 block mx-auto">
          Consiste en colocar las manos alrededor de la garganta para simbolizar 
          la dificultad para respirar. 

          <span class="hidden group-hover:block">
            Este signo se utiliza en situaciones de 
            emergencia para solicitar asistencia y puede ser crucial para identificar 
            una situación de asfixia y proporcionar ayuda rápidamente.
            <br><br>
            El signo universal de asfixia es una señal reconocida internacionalmente 
            que indica que una persona está experimentando una obstrucción de las vías
            respiratorias y necesita ayuda inmediata.
          </span>
        </p>
      </div>
    </div>
    <div class="bg-emerald-200 hover:py-3  border border-emerald-400/50 shadow-md rounded-md h-[410px] //hover:h-[450px] //hover:w-[270px] w-[260px] group">
      <div class="h-72 group-hover:hidden w-full bg-emerald-50 relative rounded-t-md">
        <img class="w-72 mx-auto" src="../../../assets/cyanosis.png" alt="">
      </div>
      <div>
        <h3 class="text-center uppercase font-semibold mt-2 mb-1">Cianosis</h3>
        <p class="w-11/12 block mx-auto">
          La cianosis es una condición médica caracterizada por una coloración azulada 
          de la piel, las membranas mucosas o las uñas. Ocurre cuando hay una cantidad 
          aumentada de hemoglobina desoxigenada en la sangre.
          <span class="hidden group-hover:block">
            <br>
            La hemoglobina es una 
            proteína en los glóbulos rojos que transporta oxígeno por todo el cuerpo. 
            Cuando la hemoglobina carece de oxígeno, aparece de color azul en lugar del 
            rojo típico cuando está oxigenada.
          </span>
        </p>
      </div>
    </div>
    <div class="bg-emerald-200 hover:py-3  border border-emerald-400/50 shadow-md rounded-md h-[410px] //hover:h-[450px] //hover:w-[270px] w-[260px] group">
      <div class="h-72 group-hover:hidden w-full bg-emerald-50 relative rounded-t-md">
        <img class="w-72 mx-auto" src="../../../assets/absence of voice.png" alt="">
      </div>
      <div>
        <h3 class="text-center uppercase font-semibold mt-2 mb-1">Ausencia de la voz</h3>
        <p class="w-11/12 block mx-auto">
          la incapacidad de hablar o 
          producir sonidos vocales debido a la interrupción del flujo de aire.
          <span class="hidden group-hover:block">
            Se produce cuando una persona está atragantándose con un objeto extraño u experimentando
            una obstrucción en las vías respiratorias. <br><br>
            En tales situaciones, es importante actuar rápidamente para despejar 
            las vías respiratorias de la persona y proporcionar asistencia, utilizando 
            técnicas como la maniobra de Heimlich o la extracción manual del objeto 
            obstructor si es necesario.
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="w-4/6 mx-auto">
    <b>
      Acciones inmediatas:
    </b>
    <br>
    
    Tratamiento para la obstrucción causada por un objeto extraño: <br>
    Es importante realizar la Maniobra de Heimlich con cuidado y determinación 
    para despejar las vías respiratorias de la persona de manera efectiva. <br>
    Sin embargo, si la persona pierde el conocimiento o no responde, es necesario 
    realizar la reanimación cardiopulmonar (RCP) de inmediato y buscar ayuda médica 
    de emergencia.
    <br>
    <!-- <p>
      
      <br>
      <b>
        Adultos (conscientes):
      </b>
      <br>
      Anime a toser. La tos es el reflejo natural del cuerpo para expulsar una obstrucción.
      <br>
      <b>
        Maniobra de Heimlich:
      </b>
      La Maniobra de Heimlich es una técnica de primeros auxilios utilizada para despejar las vías respiratorias de una persona que está atragantándose con un objeto extraño y que tiene dificultades para respirar. Se realiza aplicando presión sobre el abdomen de la persona para generar una fuerza que expulsa el objeto obstructor de la vía aérea.
      <br>
      Si la tos no es efectiva y la persona está consciente, realice la maniobra de Heimlich. 
      Esto implica una serie de empujes abdominales para desalojar el objeto.
      <br>

      <b>
        Adultos (inconscientes):
      </b>
      <br>
      Abra la vía aérea. Incline la cabeza hacia atrás y levante la barbilla (maniobra de 
      inclinación de cabeza y elevación de mentón).
      <br>
      Busque objetos en la boca. Si ve un objeto visible, retírelo con cuidado con los dedos. 
      No introduzca la mano ciegamente ni empuje un objeto más adentro.
      <br>
      <b>
      RCP (Reanimación cardiopulmonar):
      </b>
       Si no hay señales de respiración y la persona está inconsciente, inicie la RCP.
    </p> -->
  </div>
  <div id="HA" class="justify-center items-center grid grid-cols-1 grid-rows-1 md:grid-cols-2 mx-auto w-5/6 mb-5">
    <div>
      <h3>La técnica se lleva a cabo de la siguiente manera:</h3>
      


      <ul>
        
        <li>1.Pídele a la persona que está atragantándose que se incline hacia adelante.
          Posicionate detras de la persona y ubica los brazos al rededor de la persona 
        </li>
        <li>
          2. Coloca tu puño cerrado, con el pulgar hacia adentro, entre el ombligo y la parte inferior del esternón de la persona.
        </li>
        <li>
          3.Agarra tu puño con la otra mano y realiza movimientos bruscos y ascendentes hacia arriba, en dirección al tórax de la persona.
        </li>
        <li>
          4.Repite estos movimientos varias veces hasta que el objeto obstructor sea expulsado y la persona pueda respirar de nuevo.
        </li>
      </ul>
      <p>
        Es importante realizar la Maniobra de Heimlich con cuidado y determinación para despejar las vías respiratorias de la persona de manera efectiva. Sin embargo, si la persona pierde el conocimiento o no responde, es necesario realizar la reanimación cardiopulmonar (RCP) de inmediato y buscar ayuda médica de emergencia.
        <br>
        La maniobra de Heimlich tiene como objetivo presionar el diafragma, un músculo importante debajo de los pulmones, para desalojar el aire de los pulmones y expulsar el objeto que obstruye la garganta. 
      </p>
    </div>
    <!--Slider-->
    <div class="relative overflow-hidden">
      <div class="multi-slider-container flex items-center justify-between overflow-hidden border rounded bg-emerald-500/20 w-[300px] h-[300px] mx-auto relative">
        <div class="slider-track flex">
          <div *ngFor="let video of displayVideos; let i = index" class="slider-item !w-[300px] relative">
            <!-- <h3 class="bg-emerald-500/20 text-white text-xl py-3 px-2 uppercase font-bold text-center">{{ video.name }}</h3> -->
            <img src="{{ video.url! }}" class="//!h-[380px] bg-white !w-[300px]" alt="{{ video.name }}">
          </div>
        </div>   
        <button (click)="prevV()" class="px-3 py-7 opacity-20 hover:opacity-50 bg-zinc-400 hover:shadow-md hover:shadow-white/80 rounded-md text-3xl font-black border border-transparent hover:border-zinc-50 text-white absolute z-30 left-3 top-[45%]"><fa-icon [icon]="faAngleLeft"></fa-icon></button>
        <button (click)="nextV()" class="px-3 py-7 opacity-20 hover:opacity-50 bg-zinc-400 hover:shadow-md hover:shadow-white/80 rounded-md text-3xl font-black border border-transparent hover:border-zinc-50 text-white absolute z-30 right-3 top-[45%]"><fa-icon [icon]="faAngleRight"></fa-icon></button>
      </div>
    </div>
  </div>
  <!-- <div class="w-4/6 mx-auto">
    <h3>Pasos para una adecuada maniobra de heimlish Niños</h3>

    <b>
          Niños (conscientes):
        </b>
        <br>
        Golpes en la espalda: Para bebés y niños pequeños conscientes, use golpes en la espalda seguidos de empujes en el pecho. Administre cinco golpes en la espalda seguidos de cinco empujes en el pecho hasta que el objeto se desprenda o llegue la ayuda.
        <br>
        Maniobra de Heimlich modificada: Para niños mayores que están conscientes y son demasiado grandes para los golpes en la espalda, realice una maniobra de Heimlich modificada usando sus brazos alrededor de la parte superior del abdomen del niño.
        <br>
        Niños (inconscientes):
        <br>
        Abra la vía aérea (inclinación de cabeza y elevación de mentón).
        <br>
        Busque objetos en la boca.
        <br>
        RCP (si no respira).
        <br>

  </div>
  <div id="HB" class="justify-center items-center grid grid-cols-1 grid-rows-1 md:grid-cols-2 mx-auto w-5/6">   
        < !--Slider-- >
    <div class="relative overflow-hidden">
      <div class="multi-slider-container flex items-center justify-between overflow-hidden bg-emerald-500/20 max-w-[300px] h-[300px] mx-auto relative">
        <div class="slider-track flex">
          <div *ngFor="let video of displayH; let i = index" class="slider-item !w-[380px] relative">
            <h3 class="bg-emerald-500/20 text-white text-xl py-3 px-2 uppercase font-bold text-center">{{ video.name }}</h3>
            <img src="{{ video.url! }}" class="//!h-[380px] bg-black !w-[380px] rounded" alt="{{ video.name }}">
          </div>
        </div>    
        <button (click)="prevH()" class="px-3 py-7 opacity-20 hover:opacity-50 bg-zinc-400 hover:shadow-md hover:shadow-white/80 rounded-md text-3xl font-black border border-transparent hover:border-zinc-50 text-white absolute z-30 left-3 top-[45%]"><fa-icon [icon]="faAngleLeft"></fa-icon></button>
        <button (click)="nextH()" class="px-3 py-7 opacity-20 hover:opacity-50 bg-zinc-400 hover:shadow-md hover:shadow-white/80 rounded-md text-3xl font-black border border-transparent hover:border-zinc-50 text-white absolute z-30 right-3 top-[45%]"><fa-icon [icon]="faAngleRight"></fa-icon></button>
      </div>
    </div>
    <div>
      <ul>
        <li>1. Pon el nino boca abajo sosteniendolo</li>
        <li>2.</li>
        <li>3.</li>
        <li>4.</li>

      </ul>
    </div>
    <div id="objetos extraños">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores labore consequatur repellendus enim, similique recusandae voluptas libero doloribus laudantium itaque assumenda. Mollitia, impedit placeat! Fugit molestiae nihil atque dolores porro.
      </p>
    </div>
  </div> -->
</section>
<div class="block w-4/6 h-1 mx-auto -mt-0.5 rounded-full bg-gradient-to-l from-emerald-400 to-emerald-200 border border-gray-400/5"></div>
<section class="flex justify-center items-center bg-emerald-200/30 px-2 md:px-10 py-10">
  <div class="relative w-fit">
    <a class="li-link"  href="">Control de hemorragias <fa-icon [icon]="faArrowRight"></fa-icon></a>
  </div>
</section>