<div id="up"></div>
<nav class="w-full flex justify-end items-start fixed z-50 top-1 right-2 mb-2">
  <button (click)="openMenu()" class="w-14 h-14 z-50 relative rounded-full p-1 bg-teal-500/20 active:rotate-90 active:transition group opacity-20 animate-pulse hover:opacity-100 hover:animate-none"  [ngClass]="{'right-5 top-3': isOpen}">
    <div class="p-[0.1rem] rounded-full bg-gradient-to-r from-cyan-500 via-teal-500 to-fuchsia-500 animate-glowing bg-[size:800%]">
      <span class="w-full h-full block border border-teal-600 bg-white/90 text-teal-400 text-lg font-bold text-center py-2 rounded-full group-hover:text-teal-500 group-hover:font-extrabold">
        <fa-icon [icon]="faBars" class="group-hover:hidden" *ngIf="!isOpen"></fa-icon>
        <fa-icon [icon]="faBarsStaggered" class="hidden group-hover:block" *ngIf="!isOpen"></fa-icon>
        <fa-icon [icon]="faXmark" class="text-xl" *ngIf="isOpen"></fa-icon>
      </span>
    </div>
  </button>
  <div class="min-w-52 min-h-52 !max-h-[450px] rounded-md bg-teal-400/5 p-0.5 z-40 absolute transition" *ngIf="isOpen">
    <div class="w-full h-full rounded-md bg-teal-500/10 p-1">
      <div class="p-[0.1rem] rounded-md bg-gradient-to-r from-cyan-500 via-teal-500 to-fuchsia-500 animate-glowing bg-[size:800%]">
        <nav class="w-full !h-[400px] pt-16 overflow-y-scroll border border-teal-600 bg-white/95 grid gap-2 px-8 py-2 text-teal-400 font-bold uppercase text-center text-xs md:text-sm lg:text-base rounded-md ">
          <div class="border border-transparent"></div>
          <a (click)="openMenu()" (mouseover)="SVB = !SVB" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" [routerLink]="'BLS'">Soporte Vital Basico</a>
            <a (click)="openMenu()" *ngIf="SVB" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" [routerLink]="['BLS', '#PCR']">Paro Cardio Respiratorio</a>
            <a (click)="openMenu()" *ngIf="SVB" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" [routerLink]="['BLS', '/#CRP']">RCP</a>
            <a (click)="openMenu()" *ngIf="SVB" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" [routerLink]="'BLS/#DEA'">DEA</a>
            <a (click)="openMenu()" *ngIf="SVB" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" [routerLink]="'BLS/Airways'">Vias Aereas</a>
          
          <a (click)="openMenu()" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" href="#preview">Chock</a>
          
          <a (click)="openMenu()" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-1 md:px-2 py-2 md:py-3" href="/blog">Sangrado y cuidado de heridas</a>
            <a (click)="openMenu()" *ngIf="about" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" href="#about">Control de sangrado</a>
            <a (click)="openMenu()" *ngIf="about" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" href="#about">Vendaje y empaquetamiento</a>
            <a (click)="openMenu()" *ngIf="about" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" href="#about">Reconocimiento de heridas</a>

          <a (click)="openMenu()" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" href="#value">Quemaduras</a>

          <a (click)="openMenu()" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" href="#value">Fracturas y esguinces</a>
          <a (click)="openMenu()" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" href="#value">Medical Emergencies</a>
          <a (click)="openMenu()" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" href="#value">Environmental Emergencies</a>
          <a (click)="openMenu()" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" href="#value">Poisoning</a>
          <a (click)="openMenu()" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" href="#value">Emergency action plans</a>
          <a (click)="openMenu()" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" href="#value">Mental Health First Aid</a>
          <a (click)="openMenu()" class="hover:bg-gray-50 border border-teal-600/10 active:border-teal-600 hover:border-teal-600/50 md:active:text-base md:hover:text-base rounded-sm px-2 py-3" href="#value">Management of Sudden Medical Conditions</a>
        </nav>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <a href="#up" class="h-12 w-12 text-xl fixed bottom-2 right-1 text-green-400 rounded-full border  ">
  <fa-icon [icon]="faChevronUp"></fa-icon>
</a> -->
<a href="">
  <img src="../assets/Logo Kaminantes - Sin fondo.png" class="w-44 fixed bottom-0 left-2" alt="">
</a>
